/* Reset básico */
body, h1, h2, h3, p, ul, li, a, img, div, section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
}


/* Menu */
.top-menu {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-bottom: 1px solid #6e6e6e;

}

.top-menu .logo img {
    height: 50px;
}

.top-menu .menu-items {
    display: flex;
    list-style: none;
    align-items: center;
}

.top-menu .menu-items li {
    margin: 0 10px;
}

.top-menu .menu-items li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

/* Slider */
.slider {
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}

.slider .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Notícias e Comunicados */
.news-section {
    text-align: center;
    padding: 20px;
}

.news-section h2 {
    margin-bottom: 10px;
}

.news-section .btn-more {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

/* Painel de Transparência */
.transparency-section {
    text-align: center;
    padding: 20px;
}

.transparency-section h2 {
    margin-bottom: 10px;
}

/* Rodapé */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilos do item de menu principal ////////////////////////////////////////////////////////////*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
}

/* Esconder o conteúdo dropdown inicialmente */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Estilos para os links dentro do dropdown */
.dropdown-content div {
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

/* Alteração de cor ao passar o mouse */
.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Mostra o dropdown quando a classe "open" está presente */
.dropdown.open .dropdown-content {
    display: block;
}

<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Cor de fundo para destacar os cards */
}

.card-container {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 15%; /* Ajuste conforme necessário para responsividade */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    font-size: 16px;
    margin: 0 0 10px;
    color: #333;
}

.card .date {
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card .description {
    font-size: 14px;
    color: #555;
    flex-grow: 1;
    margin-bottom: 10px;
}

.card .read-more {
    align-self: start;
    padding: 8px 12px;
    background-color: #FFF;
    color: black;
    border: solid 1px #555;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.card .read-more:hover {
    background-color: #0056b3;
}

.card2-container{
    display: flex;   
    height: 100px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin-bottom: 100px;
}

.card2{
   
 
   
    width: 10%; /* Ajuste conforme necessário para responsividade */
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.read-more2{
   color: #fff;
   font-size: 18px;
}
.text-overlay {
    display: flex;
    position: relative; /* Posição absoluta em relação ao container */
    flex: 1;
    height: 200px;
    top: -100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold; /* Peso do texto */
    text-align: center; /* Centraliza o texto */
    background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para o texto */
    padding: 10px; /* Espaçamento interno ao redor do texto */
    border-radius: 5px; /* Bordas arredondadas para o fundo do texto */
    z-index: 99;
}

.text-overlay img{
    width: 25%;
    
}

.text-overlay:hover{
    background: rgba(247, 245, 245, 0.199);
    b{
        color: black;
    }
}
=======

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px; /* Aumentar a largura */
    margin: 100px auto 50px; /* Adicionar espaço na parte superior e inferior */
    align-items: center;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 97%;
    justify-content: center;  /* Centralizar verticalmente */
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center; /* Centralizar o texto no campo */
}
textarea {
    resize: vertical;
}
.form-group select {
    height: 40px;
}
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.btn-clear {
    background-color: #f44336;
}
.btn:hover {
    background-color: #45a049;
}
.btn-clear:hover {
    background-color: #d32f2f;
}
.error {
    color: red;
    font-size: 14px;
}
.textinput {
    width: 100%;
}
.status{
    width: 103.5%;
}
>>>>>>> 73152ad8a106ac664cdc5f1bbcff3662f7a3d57a
